.Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .menu-left {
      align-items: center;
      display: flex;
      font-size: 10px;
      gap: 1.5rem;
      img {
        width: 20px;
      }
      span{
        display: flex;
        justify-content: center;
        color: aliceblue;
        align-items: center;
        background-color: rgb(230, 57, 137);
        width: 20px;
        height: 15px;
        border-radius: 30%;
        
      }
    }
  }
  