.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    border-bottom: 1px solid rgb(243, 234, 234);
    .nav-logo {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      width: 20%;
      align-items: center;
      img {
        max-height: 30px;
        max-width: 30px;
      }
    }
    .nav-body {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;

      .input1{        
        display: flex;
        align-items: center;
        width: 30%;
        height: 40px;
        border: 1px solid rgb(72, 61, 61);
        border-radius: 20px;
      }
      img:hover{
        cursor: pointer;
     }
     input {          
      border: none;
      margin-left:10px;
      outline: none;
    }

      .nav-body-right {
        display: flex;
        align-items: center;
        gap: 1rem;
        .message {
          max-width: 25px;
        }
        .userAvator {
          display: flex;
          align-items: center;
        }
        .avat{
          border-radius: 50%;
        }
      }
  }
}