.videos{
    display: flex;
    flex-direction: column;
    .User{
        display: flex;
        align-items: center;
        gap: 0.9rem;
        padding: 10px;
        .Avat{
            border-radius: 50%;
        }

        .Userdetails{
            
            p{
                margin-bottom: 1px;
                font-weight: bold;
            }

        }
    }
    .videosPosted{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 0.7rem;        
        margin-bottom: 0px;
        padding-bottom: 30px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        
        img{
            
            width: 90%;
            height: 120%; 
            margin-left: 1px;
            margin-right: 40px; 
                                     
        }                        
    }

}