.shortcut{
    display: flex;
    flex-direction: column;
    .react{
       display: flex;
       align-items: center;       
       gap: 1.5rem;
       margin: 0px;
       padding: 0;
      
       img{
          width: 25px;
          margin-left:2px ;
 
       }
    }
 }