.sidenav{
    display: flex;
    flex-direction: column;   
    gap: 10px;
    height: 90vh;
    border-right: 1px solid rgb(245, 239, 239);
    width: 190%;
    margin-left: 10px;
    background-color: rgb(217, 233, 248);
        
    h4{
       font-size: 10px;
    }

    
 }