.sidenav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    border-right: 1px solid rgb(245, 239, 239);
    width: 15%;
    margin: 10px;
    h4{
       font-size: 10px;
    }
    
 .side-profile{
    display: flex;
    align-items: center;
    .side-profile-text{
    
       flex-direction: column;
       margin-inline: 20px;
       line-height: 1px;
    }
 }
    
 }