.RegisterPage {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url(/src/assets/bcg1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .register-card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
  }
  
  .register-card h1 {
    margin-bottom: 20px;
  }
  
  .register-card form {
    display: flex;
    flex-direction: column;
  }
  
  .register-card input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .register-card button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .register-card button:hover {
    background-color: #0056b3;
  }
  
  .register-card span {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .register-card span:hover {
    text-decoration: underline;
  }
  





// .RegisterPage {
//     height: 100vh;
//     background-color: rgb(193, 190, 255);
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
  
//     .register-card1 {
//         width: 70%;
//         display: flex;
//         flex-direction: column;
//         background-color: white;
//         border-radius: 10px;
//         min-height: 250px;
      
//       .left {
//         flex: 1;
//         background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
//           url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600")
//             center;
//         background-size: cover;
//         padding: 50px;
//         display: flex;
//         flex-direction: column;
//         gap: 30px;
//         color: white;
  
//         h1 {
//           font-size: 100px;
//           line-height: 100px;
//         }
  
//         span {
//           font-size: 14px;
//         }
        
//         button {
//           width: 50%;
//           padding: 10px;
//           border: none;
//           background-color: white;
//           color: rebeccapurple;
//           font-weight: bold;
//           cursor: pointer;
//         }
//       }
  
//       .register-card {
//         flex: 1;
//         padding: 50px;
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//         justify-content: center;
  
//         h1 {
//         color: #555;
//         }
        
//         form {
          
//           display: flex;
//           flex-direction: column;
//           gap: 30px;
//           input {
//             display: flex;
//           flex-direction: column;
//           gap: 30px;
//           border: none;
//           border-bottom: 1px solid lightgray;
//           padding: 20px 10px;
//           }
          
//           button {
//             width: 50%;
//             padding: 10px;
//             border: none;
//             background-color: #938eef;
//             color: white;
//             font-weight: bold;
//             cursor: pointer;
//           }
//         }
//       }
//     }
//   }